@import '../styles/colors.scss';
.layout {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $primary-color;
    color: $white;
    border-bottom: solid 1px $light-gray;
    h1 {
      font-size: 3rem;
      padding: 1.5rem;
      font-weight: 100;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .layout-inner-panel {
    margin-top: 140px;
    display: flex;
    .layout-navigation-panel {
      flex: 0 0 300px;
      padding: 1rem;
      hr {
        border-top: 1px solid $primary-color;
      }
    }
  }
  .layout-body-panel {
    font-size: 1.2rem;
    padding: 1rem;
    h1,
    h2,
    h3 {
      font-weight: 200;
      padding-bottom: 1rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: 100;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
    }
    h3 {
      font-size: 1.5rem;
    }
    p,
    div {
      padding: 1rem;
    }
  }
}
