$white: rgb(247, 248, 255);
$primary-color: rgb(45, 49, 59);
$secondary-color: rgb(255, 123, 0);
$footer-height: 50px;

$sm-height: 90vh;
$lg-height: 72vh;
$xl-height: 84vh;

$sm-width: 600px;
$md-width: 900px;
$lg-width: 1200px;
$xl-width: 1800px;
$xxl-width: 5000px;

$media-spans: (
  sm: $sm-width,
  md: $md-width,
  lg: $lg-width,
  xl: $xl-width,
  xxl: $xxl-width,
);

@mixin screen($size) {
  @media screen and (max-width: map-get($media-spans, $size)) {
    @content;
  }
}

@mixin cols($cols) {
  width: calc(100vw / 12 * #{$cols});
}

.dialog-outer {
  color: $primary-color;
  position: fixed;
  font-size: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: left;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  .dialog {
    filter: blur(0rem);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 650px;
    background-color: $white;
    border-radius: 0.1rem;
    padding: 1rem;
    max-height: 80vh;

    @include screen(xxl) {
      @include cols(6);
      max-height: $lg-height;
    }

    @include screen(xl) {
      @include cols(8);
    }

    @include screen(lg) {
      max-height: $lg-height;
    }

    @include screen(md) {
      @include cols(9);
    }

    @include screen(sm) {
      max-height: $sm-height;
      height: $sm-height;
      min-width: 0;
      width: calc(100% - (6em));
    }
    .shim {
      height: calc(#{$footer-height} + 1em);
    }
    .dialog-title-panel {
      display: flex;
      height: $footer-height;
      padding: 0;
      div {
        flex: 1 1;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .dialog-close,
      .dialog-icon {
        flex: 0 0 25px;
        font-weight: bold;
        cursor: pointer;
        font-size: 2em;
        position: relative;
        padding: 0.35rem;
      }
    }
    .dialog-body {
      font-size: 1.5rem;
      overflow: auto;
      //      max-height: calc(80vh - (#{$footer-height} * 2.1));
      @include screen(xxl) {
        max-height: calc(#{$xl-height} - (#{$footer-height} * 5.1));
      }

      @include screen(lg) {
        max-height: calc(#{$lg-height} - (#{$footer-height} * 2.7));
      }

      @include screen(sm) {
        max-height: calc(#{$sm-height} - (#{$footer-height} * 3.5));
      }
    }
    .dialog-actions-panel {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      left: 0;
      min-height: $footer-height;
      text-align: center;
      background-color: $white;
      justify-content: center;
      padding: 0;
      @include screen(sm) {
        position: relative;
      }
      div {
        button,
        a {
          margin: 0.5em;
          color: $white;
          background-color: $primary-color;
          border-radius: 0.25rem;
          font-size: 1.2rem;
          border: none;
          display: inline-block;
          font-weight: 700;
          min-width: 20%;
          padding: 0.5rem 2rem;
          &.primary {
            color: $white;
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}
