@import '../../styles/colors.scss';
.nav-item {
  font-size: 1.2rem;
  text-decoration: none;
  border-top: solid 1px $light-gray;
  color: $primary-color;
  padding: 1rem;
  display: block;
  &:first-child {
    border-top: none;
  }
}
