@import '../../styles/colors.scss';

.api-property {
  display: flex;
  font-size: 1rem;
  padding: 0 !important;
  margin: 0;
  &::first-child {
    font-weight: 800;
  }
  border-top: solid 1px $light-gray;
  .name {
    flex: 0 0 120px;
    font-weight: 700;
    padding: 1rem !important;
    margin: 0;
  }
  .type {
    font-style: italic;
    flex: 0 0 340px;
    font-weight: 1rem;
    padding: 1rem !important;
    margin: 0;

    &::after {
      content: '>>';
    }
    &::before {
      content: '<<';
    }
  }
  .description {
    padding: 1rem !important;
    margin: 0;
    font-style: italic;
  }
}
