@import '../../styles/colors.scss';
button.kite-btn,
a.kite-btn {
  margin: 0.5em;
  color: $white;
  background-color: $primary-color;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  border: none;
  display: inline-block;
  font-weight: 700;
  min-width: 20%;
  padding: 0.5rem 2rem;
  cursor: pointer;
  &.kite-btn-primary {
    color: $white;
    background-color: $secondary-color;
  }
}
