$white: rgb(247, 248, 255);
$primary-color: rgb(45, 49, 59);
$secondary-color: rgb(255, 123, 0);

.text-control-form {
  label {
    font-size: 1rem;
    display: block;
  }
  input,
  textarea {
    &:focus {
      outline: none;
    }
    padding: 1rem;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: $primary-color;
    border-bottom: solid 1px $primary-color;
  }
}
